*{
    box-sizing: border-box;
      margin: 0;
      padding: 0;
}
  
body {
    font-family: "Open Sans", sans-serif;
}

nav {
    position: fixed;
    background-color: #0B3C7A;
    font-family: 'Noto Sans', serif;
    height: 35px;
    width: 100%;
    display: inline-block;
    color: #fff;
}
nav h2 {
    float: left;
    font-size: 16px;
    margin: 5px 15px;
}

.nav--title {
    display: none;
}

nav ul {
    float: right;
    font-size: 14px;

}

nav li {
    display: inline-block;
    margin: 7px 5px;
}
nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

header {
    height: 70vh;
    text-align: center;

}
.headshot {
    margin-top: 100px;
    margin-bottom: 35px;
    width: 150px;
}

.header__description {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.2);
    padding: 1%;
    width: 80%;
    margin: auto auto;
    text-align: left;
    font-size: 14px;
    margin-top: 25px;
}
.speech-bubble {
	position: relative;
	background: rgba(50, 140, 250, 0.9);
    border-radius: .9em;
    width: 75%;
    height: 150px;
    margin: auto auto;
    text-align: left;
    padding: 3%;
    font-size: 18px;
    font-family: "Comic Sans MS"

}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 31px solid transparent;
	border-bottom-color: rgba(50, 140, 250, 0.9);
	border-top: 0;
	border-left: 0;
	margin-left: -15.5px;
	margin-top: -31px;
}

main {
    font-family: "Lucida Sans Unicode";
}
section:nth-child(even) {
    background-color: #F6F6F6;
}

section {
    background-color: white;
    height: 65vh;
    font-size: 14px;
} 

section h2 {
    text-align: center;
    padding-top: 15px;
}

section a {
    color: black;
}

.project__screenshot1, .project__screenshot2 {
    display: block;
    margin: 15px auto;
    width: 75%;
    height: 200px;
    margin-top: 20px;
}

.project__description1, .project__description2 {
    margin: auto auto;
    width: 75%;
}
.project__description1 p, .project__description2 p {
    margin-bottom: 5px;
    margin-top: 15px;
}

.gym {
    padding-top: 5%;
}

footer {
    position:fixed;
    bottom:0;
    width: 100%;
    padding: .5%;
    background-color: #235DA6;;
    text-transform: uppercase;
    color: white;
    text-align: center;
} 



.contacts {
    height: 20vh;
    padding-top: 1%;
    text-align: center;
}

.logos {
    width: 10vw;
}

hr {
    margin: 10px auto;
}

.contacts a {
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .project__screenshot1 {
        width: 45vw;
        height: 250px;
        float: left;
        margin-left: 30px;
        margin-right: 30px;
    }
    .project__description1 {
        margin: 15px auto;
        width: 75%;
    }

    .project__screenshot2 {
        width: 45vw;
        height: 250px;
        float: right;
        margin: 10px 30px;
    }
    .project__description2 {
        margin: 5% auto;
        width: 75%;
    }

    section {
        height: 50vh;
    } 

    .gym {
        padding-top: 2%;
    }

    .logos {
        width: 6vw;
    }

    hr {
        width: 35%;
    }
}

@media screen and (min-width: 1024px) {
    nav {
        height: 100%;
        width: 15%;
        display: block;
        text-align: center;
    }

    nav h2 {
        float: none;
        font-size: 24px;
    }

    .nav--title {
        display: block;
        margin-top: 15px;
    }

    nav ul {
        float: none;
        font-size: 20px;
        padding-top: 60%;
    }
    nav li {
        display: block;
        margin-top: 25px;
    }

    header, section {
        width: 85%;
        float: right;
    }
    .header__description {
        width: 65%;
        font-size: 18px;
    }

    .headshot {
        width: 200px;
    }
    .nav--name {
        margin-top: 20px;
    }

    .project__screenshot1 {
        width: 35vw;
        height: 300px;
        float: left;
        margin-left: 10%;
        margin-right: 5%;
    }

    .project__description1 {
        margin: 15px auto;
        width: 60%;
    }

    .project__screenshot2 {
        width: 35vw;
        height: 300px;
        float: right;
        margin-top: 5%;
        margin-right: 20%;
        margin-left: 5%;
    }

    .project__description2 {
        margin: 5% auto;
        width: 75%;
    }
    .gym {
        height: 350px;
    }
    .logos {
        width: 50px;
    }
    
    hr {
        width: 30%;
    }
}