*{
    box-sizing: border-box;
      margin: 0;
      padding: 0;
}
  
body {
    font-family: "Open Sans", sans-serif;
}

nav {
    position: fixed;
    background-color: #0B3C7A;
    font-family: 'Noto Sans', serif;
    height: 35px;
    width: 100%;
    display: inline-block;
    color: #fff;
}
nav h2 {
    float: left;
    font-size: 16px;
    margin: 5px 15px;
}

.nav--title {
    display: none;
}

nav ul {
    float: right;
    font-size: 12px;
}

nav li {
    display: inline-block;
    margin: 7px 5px;
}
nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

header {
    height: 100vh;
    text-align: center;

}
.headshot {
    margin-top: 100px;
    margin-bottom: 35px;
    width: 150px;
}

.header__description {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(0, 75, 255, 0.4);
    padding: 1%;
    width: 80%;
    margin: auto auto;
    text-align: left;
    font-size: 14px;
    margin-top: 25px;
}
section:nth-child(even) {
    background-color: #F6F6F6;
}

section {
    background-color: white;
    height: 75vh;
    font-size: 14px;
} 

section h2 {
    text-align: center;
    margin-top: 15px;
}

.project__screenshot1 {
    display: block;
    margin: 15px auto;
    width: 75%;
    height: 200px;
}

.project__description {
    margin: auto auto;
    width: 75%;
}
.project__description p {
    margin-bottom: 5px;
}
footer {
    position:fixed;
    bottom:0;
    width: 100%;
    padding: 1%;
    background-color: #235DA6;;
    text-transform: uppercase;
    color: white;
    text-align: center;
} 



@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1024px) {
    nav {
        height: 100%;
        width: 15%;
        display: block;
        text-align: center;
    }

    nav h2 {
        float: none;
        font-size: 24px;
    }

    .nav--title {
        display: block;
        margin-top: 15px;
    }

    nav ul {
        float: none;
        font-size: 20px;
        padding-top: 60%;
    }
    nav li {
        display: block;
        margin-top: 25px;
    }

    header, section {
        width: 85%;
        float: right;
    }
    .header__description {
        width: 65%;
        font-size: 18px;
    }

    .headshot {
        width: 200px;
    }
}